<template lang="">
    <div class="yu">
      <div class="text-center"> 
            <div class="w-full transform translate-y-12 h-50 pb-15"></div>
            <h1 class="pt-10 mt-14 h1-custom">Deine Job website</h1>
            <img src="~/assets/images/home_shake_hand.svg" class="md:hidden select-none w-full transform mt-1">
            <img src="~/assets/images/home_shake_hand_desktop.svg" class="hidden md:block select-none mx-auto w-full transform translate-y-12 xl:translate-y-28 -mt-12 xl:-mt-28">
      </div>
            <div class="mt-28">
                <div class="flex  flex-col t">
                  <ul class="flex mb-0 list-none pt-3 pb-4 flex-row trans-c1" id="trans">
                    <li class="-mb-px mr-0 last:mr-0 text-center custom-si">
                    <a class="text-md-c font-semibold text-md px-7 py-c  rounded-l-custom border-c block leading-normal " v-on:click="toggleTabs(1)" v-bind:class="{'custom-nav-c text-nav-u': openTab !== 1, 'text-white bg-nav-c	': openTab === 1}">
                        <i class="fas fa-space-shuttle text-base mr-1"></i> Arbeitnehmer
                    </a>
                    </li>
                    <li class="-mb-px mr-0 last:mr-0 text-center custom-si">
                    <a class="text-md-c font-semibold text-md px-7 py-c  border-c block leading-normal " v-on:click="toggleTabs(2)" v-bind:class="{'custom-nav-c text-nav-u ': openTab !== 2, 'text-white bg-nav-c  	': openTab === 2}">
                        <i class="fas fa-cog text-base mr-1"></i> Arbeitgeber
                    </a>
                    </li>
                    <li class="-mb-px mr-0 last:mr-0 text-center custom-si">
                    <a class="text-md-c font-semibold text-md px-7 py-c  rounded-r-custom border-c block leading-normal " v-on:click="toggleTabs(3)" v-bind:class="{'custom-nav-c text-nav-u': openTab !== 3, 'text-white bg-nav-c  	': openTab === 3}">
                        <i class="fas fa-briefcase text-base mr-1"></i> Temporärbüro
                    </a>
                    </li>
                  </ul>
                <div class="w-full">
                <div class="relative flex flex-col items-center justify-center min-w-0 break-words bg-white w-full mb-6  ">
                    <div class=" flex-auto justify-center items-center h-screen">
                    <div class="tab-content tab-space text-center text-gray-600 py-1">
                        <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">
                        <p>
                            <div class="px-8 txt-c">Drei einfache Shritte zu deinem neuen Job
                            </div><br />
                            <div class="bg-img-top bg-cover">
                            <div class="grid justify-items-stretch ">
                            <img src="~/assets/images/undraw_Profile_data_re_v81r.svg" class="f-pc mx-auto" alt="ipad"/>
                            </div>
                            <div class=" text-center mx-auto ">
                              <h4 class="home__step__title f-d ">
                               <span class="home__step__title__num cus-s">1.</span> 
                               <span class=" text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                  Erstellen dein Lebenslauf
                                </span>
                              </h4>
                            </div> 
                            </div> 
                            <div class=" text-center bg-img mb-6">
                              <h4 class="home__step__title f-d2">
                               <span class="home__step__title__num ml-8 cus-s">2.</span> 
                               <span class="text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                  Erstellen dein Lebenslauf
                                </span>
                              </h4>
                              
                            <div class="grid justify-items-stretch mt-12">
                             <img src="~/assets/images/undraw_task_31wc.svg" class="f-d2img justify-self-start mx-auto" alt="ipad"/>
                            </div>
                            </div> 
                            <div class=" text-center">
                              <h4 class="home__step__title f-q">
                               <span class="home__step__title__num ml-12 cus-s">3.</span> 
                               <span class="text-md-cus tracking-normal ml-3  z md:ml-6 mb-2 mr-1 text-gray-500">
                                  Mit nur einem Klick bewerben
                                </span>
                              </h4>
                            </div>  
                            <div class="grid justify-items-stretch mb-28">
                            <img src="~/assets/images/undraw_personal_file_222m.svg" class="f-qimg justify-self-start mx-auto" alt="ipad"/>
                            </div>
                         </p>
                        </div>
                        <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">
                        <p>
                            <div class=" px-8 txt-c">Drei einfache Shritte zu deinem neuen Mitarbeiter 
                            </div><br />
                            <div class="grid justify-items-stretch ">
                            <img src="~/assets/images/undraw_Profile_data_re_v81r.svg" class="f-pc justify-self-start mx-auto" alt="ipad"/>
                            </div>
                            <div class=" text-center bg-img-top">
                              <h4 class="home__step__title f-d ">
                                <span class="home__step__title__num cus-s">1.</span> 
                                <span class="text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                  Erstellen dein Unternehmensprofil
                                </span>
                              </h4>
                            </div>
                            <div class=" text-center bg-img pb-6">
                              <h4 class="home__step__title f-d2">
                                <span class="home__step__title__num ml-8 cus-s">2.</span> 
                                <span class="text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                  Erstellen dein Jobinserat
                                </span>
                              </h4>
                            
                            <div class="grid justify-items-stretch mt-12">
                            <img src="~/assets/images/undraw_about_me_wa29.svg" class="f-d2img2 justify-self-start mx-auto" alt="ipad"/>
                            </div></div> 
                            <div class=" text-center mb-16">
                              <h4 class="home__step__title f-q">
                                <span class="home__step__title__num ml-12 cus-s">3.</span> 
                                <span class="text-md-cus tracking-normal ml-3  z md:ml-6 mb-2 mr-1 text-gray-500">
                                  Wähle deinen neuen Mitarbeiter aus
                                </span>
                              </h4>
                            </div>
                            <div class="grid justify-items-stretch mb-28">
                            <img src="~/assets/images/undraw_swipe_profiles1_i6mr.svg" class="f-qimg2 justify-self-start mx-auto" alt="ipad"/>
                            </div>
                         </p>
                        </div>
                        <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">
                        <p>
                            <div class=" px-8 txt-c">Drei einfache Shritte zur Vermittlung neuer Mitarbeiter
                            </div><br />
                            <div class="grid justify-items-stretch ">
                            <img src="~/assets/images/undraw_Profile_data_re_v81r.svg" class="f-pc justify-self-start mx-auto" alt="ipad"/>
                            </div>
                            <div class=" text-center bg-img-top">
                              <h4 class="home__step__title f-d ">
                                <span class="home__step__title__num cus-s">1.</span> 
                                <span class="text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                    Erstellen dein Unternehmensprofil
                                  </span>
                              </h4>
                            </div>
                            
                            <div class="bg-img w-full h-full text-center  mb-6 ">
                              <h4 class="home__step__title f-d2">
                                <span class="home__step__title__num ml-8 cus-s">2.</span> 
                                <span class="text-md-cus tracking-normal ml-4 md:ml-6 mb-2 mr-2">
                                    Erhalte Vermittlungs-angebot von Arbeitgeber
                                  </span>
                              </h4>
                              <div class="grid justify-items-stretch mt-12">
                            <img src="~/assets/images/undraw_job_offers_kw5d.svg" class="f-d2img justify-self-start mx-auto" alt="ipad"/>
                            </div>
                            
                            
                            </div> 
                            <div class=" text-center mb-16">
                              <h4 class="home__step__title f-q">
                                <span class="home__step__title__num ml-12 cus-s">3.</span> 
                                <span class="text-md-cus tracking-normal ml-3  z md:ml-6 mb-2 mr-1 text-gray-500">
                                    Vermittlung nach provision oder Stundenlohn
                                  </span>
                              </h4>
                            </div>
                            <div class="grid justify-items-stretch mb-28">
                            <img src="~/assets/images/undraw_business_deal_cpi9.svg" class="f-qimg3 justify-self-start mx-auto" alt="ipad"/>
                            </div>
                         </p>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
     </div>
    </div>
</template>
<script>
export default {
  data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
      if(tabNumber ==2){
        document.getElementById("trans").classList.remove("trans-c1");
        document.getElementById("trans").classList.remove("trans-c3");
        document.getElementById("trans").classList.add("trans-c2");
      }
      if(tabNumber==1){
        document.getElementById("trans").classList.remove("trans-c3");
        document.getElementById("trans").classList.remove("trans-c2");
        document.getElementById("trans").classList.add("trans-c1");
      }
      if(tabNumber==3){
        document.getElementById("trans").classList.remove("trans-c1");
        document.getElementById("trans").classList.remove("trans-c2");
        document.getElementById("trans").classList.add("trans-c3");
      }
    },
    openSection: function(x){
      console.log(x);
      var openedTabs = document.getElementsByClassName("active-tab");
      var openedSection = document.getElementsByClassName("active-section");
      for(var i = 0; i < openedSection.length; i++){
        openedTabs[i].className="inactive-tab";
        openedSection[i].className="inactive-section";
      }
      document.getElementById("tabs-list").children[x].className="active-tab";
      document.getElementById("sections-list").children[x].className="active-section";
    }
  }
}
</script>
<style lang="css">
  .py-c{
    padding-top:7px;
    padding-bottom:7px;
    letter-spacing: 0.84px;

  }
  .text-md-cus{
    font-size: 16px;
    letter-spacing: 0.47px;
    color: #718096;
  }
  .text-nav-u{
    color:#319795;
  }
  .home__step__title {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    font-size: 1.25rem;
}

.home__step__title__num {
    font-size: 8.75rem;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113,128,150,var(--text-opacity));
    line-height: 1;
}
.txt-c{
  font-size: 21px;
  margin-top: 2px;
  margin-left: 7px;
  margin-right:7px ;
}

.bg-img{
  /*background-image: url("~/assets/images/home_curve_bg.svg");*/
  /*background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
*/background-image: url("~/assets/images/layered-waves-haikei.svg");
  height:340px !important;
}
.bg-img-top{
  /*background-image: url("~/assets/images/home_curve_bg.svg");*/
  /*background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
*/background-image: url("~/assets/images/layered-waves-haikei2.svg");
  background-size: cover;
  height:auto !important;
}
.cus-s{
  font-size: 130px;
  letter-spacing: 0px;
color: #718096;
}
.border-c{
  border: 1px solid #d6dee7;
}
.custom-nav-c{
  background-color:#FFFFFF; 
  transition: 0.5s; 
}
.bg-nav-c{
  background-color: #81E6D9;
  transition: 0.5s;
}

.h1-custom{
  letter-spacing: 1.26px;
  color: #2D3748;
  font-size:42px;
  font-weight: 500;
  margin-left: 20px;
  margin-right:20px;
  line-height:50px;
}

.rounded-r-custom{
  border-radius: 0px 12px 12px 0px;
}
.rounded-l-custom{
  border-radius: 12px 0px 0px 12px;
}
.text-md-c{
  font-size:14px;
}
.custom-si{
  width:160px !important;
}
.trans-c1{
  transition: 0.3s;
   transform: translateX(15px);
}
.trans-c2{
  transition: 0.3s;
  transform: translateX(-55px);

}
.trans-c3{
  transition: 0.3s;
  transform: translateX(-125px);

}
.yu{
 width: 100vw; 
  }
.f-pc{
  transform: translateX(35px);
}
.f-d{
  transform: translateY(-49px);
}
.f-d2{
  transform: translateY(-10px);
}
.f-d2img{
  transform: translateY(-40px) translateX(20px);
}
.f-q{
  transform: translateY(-60px);
}
.f-qimg{
  transform: translateY(-80px) translateX(20px);

}
.f-qimg2{
  transform: translateY(-95px) translateX(5px);

}
.f-qimg3{
  transform: translateY(-100px) translateX(-5px);

}
.z{
  transform: translateY(-15px)translateX(-20px);

}
.f-d2img2{
  transform: translateY(-95px)translateX(3px);
}
</style>