<template lang="">
    <div >
        <nav class="mt-c" >
            <div class="w-full text-center p-4 border-red-800 rounded-b-xl bg-white h-custom">
                <div class="flex justify-between mx-1  pt-2 text-blue-500 ">
                    <div>
                    <!--
                    <a href="/" class="flex">
                    <img src="~/assets/images/tomisha-logo.svg" alt="tomisha-logo" class="mr-2">
                    <span class="text-3xl">tomisha</span>
                    </a>-->
                    </div>
                    <div>
                        <a href="#" class=" custom font-semibold no-underline hover:underline underline-offset-1">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="css">
    .h-custom{
        height:67px !important;
        box-shadow: 0px 3px 6px #00000029;
    }
    .custom{
        letter-spacing: 0.84px;
        color: #319795;
        font-size: 14.3px;
    }
    .mt-c{
        margin-top:5px
    }
</style>