<template lang="">
    <div >
        <nav >

            <div class="dim text-center p-4 border-red-800 rounded-t-xl bg-white shadow-custom md:w-full ">
                <div class="w-full flex items-center justify-center text-sky-400 ">
                    <button class="rounded-lg w-full self-auto py-2 text-white bg-gradient-custom font-normal">Kostenlos Registrieren </button>
                </div>
            </div>
            
        </nav>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="css">
    .bg-gradient-custom{
        background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
        height: 40px;
        width:320px;
        font-size: 14px;
        margin-top:8px;
        margin-bottom: 6px;
        letter-spacing: 0.84px;

    }
    .dim{
        height: 128 px !important;
    }
    .shadow-custom{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px -1px 3px #00000033;
        border-radius: 12px 12px 0px 0px;
    }
</style>