<template>
  <div class="relative d">
    <div class="fixed top-0 left-0 right-0 z-50">
    <!--Navbar-->
      <Navbar/>
    <!--End of Navbar-->
    </div>
    <div class="relative herobg">
    <!--hero-->
      <Hero/>
    <!--End of hero-->
    </div>
    <div class="fixed bottom-0 left-0 right-0 z-50 ">
      <!--Footer-->
        <Footer/>
      <!--End of Footer-->
    </div>
  </div>
</template>

<script>
import navbar from '~/components/navbar.vue';
import hero from '../components/hero.vue';
import stickyfooter from '~/components/stickyfooter.vue';
export default {
  components:{
    'Navbar':navbar,
    'Hero':hero,
    'Footer':stickyfooter
  },
  name: 'IndexPage'
}
</script>
<style lang="css">
  .herobg{
  background-image: url("~/assets/images/home_hero_bg.svg");
  height: 659px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  }
  .d{
    overflow: scroll;
  }
</style>